> **Tip**: Welcome to the Investigate a Dataset project! You will find tips in quoted sections like this to help organize your approach to your investigation. Once you complete this project, remove these **Tip** sections from your report before submission. First things first, you might want to double-click this Markdown cell and change the title so that it reflects your dataset and investigation.

# Project: Investigate a Dataset - [Dataset-name]

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

### Dataset Description 

> **Tip**: In this section of the report, provide a brief introduction to the dataset you've selected/downloaded for analysis. Read through the description available on the homepage-links present [here](https://docs.google.com/document/d/e/2PACX-1vTlVmknRRnfy_4eTrjw5hYGaiQim5ctr9naaRd4V9du2B5bxpd8FEH3KtDgp8qVekw7Cj1GLk1IXdZi/pub?embedded=True). List all column names in each table, and their significance. In case of multiple tables, describe the relationship between tables. 


### Question(s) for Analysis
>**Tip**: Clearly state one or more questions that you plan on exploring over the course of the report. You will address these questions in the **data analysis** and **conclusion** sections. Try to build your report around the analysis of at least one dependent variable and three independent variables. If you're not sure what questions to ask, then make sure you familiarize yourself with the dataset, its variables and the dataset context for ideas of what to explore.

> **Tip**: Once you start coding, use NumPy arrays, Pandas Series, and DataFrames where appropriate rather than Python lists and dictionaries. Also, **use good coding practices**, such as, define and use functions to avoid repetitive code. Use appropriate comments within the code cells, explanation in the mark-down cells, and meaningful variable names.

In [25]:
# Use this cell to set up import statements for all of the packages that you

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#seaborn is not essential but makes visualisation looks better
import seaborn as sns
%matplotlib inline

# Remember to include a 'magic word' so that your visualizations are plotted
#   inline with the notebook. See this page for more:
#   http://ipython.readthedocs.io/en/stable/interactive/magics.html

ModuleNotFoundError: No module named 'matplotlib'

# Upgrade pandas to use dataframe.explode() function. 
!pip install --upgrade pandas==0.25.0

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you **document your data cleaning steps in mark-down cells precisely and justify your cleaning decisions.**


### General Properties
> **Tip**: You should _not_ perform too many operations in each cell. Create cells freely to explore your data. One option that you can take with this project is to do a lot of explorations in an initial notebook. These don't have to be organized, but make sure you use enough comments to understand the purpose of each code cell. Then, after you're done with your analysis, create a duplicate notebook where you will trim the excess and organize your steps so that you have a flowing, cohesive report.

In [28]:
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
# Load your data and print out a few lines. Perform operations to inspect data
#   types and look for instances of missing or possibly errant data.
df = pd.read_csv('nics-firearm-background-checks.csv')
df.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2021-07,Alabama,27622.0,366.0,19797.0,12683.0,1507.0,930,0.0,22.0,...,0.0,0.0,0.0,24.0,27.0,7.0,0.0,2.0,0.0,66051
1,2021-07,Alaska,263.0,14.0,2995.0,2571.0,309.0,189,0.0,5.0,...,0.0,0.0,0.0,6.0,7.0,2.0,0.0,0.0,0.0,6620
2,2021-07,Arizona,4049.0,765.0,19751.0,9213.0,1836.0,1055,0.0,9.0,...,1.0,0.0,0.0,10.0,8.0,2.0,1.0,1.0,0.0,38125
3,2021-07,Arkansas,3563.0,524.0,7143.0,4681.0,472.0,343,5.0,12.0,...,0.0,0.0,0.0,20.0,55.0,2.0,0.0,0.0,0.0,18454
4,2021-07,California,16911.0,11338.0,41996.0,26036.0,5945.0,0,0.0,0.0,...,106.0,0.0,0.0,7335.0,3057.0,549.0,33.0,34.0,0.0,116701


### Data Cleaning
> **Tip**: Make sure that you keep your reader informed on the steps that you are taking in your investigation. Follow every code cell, or every set of related code cells, with a markdown cell to describe to the reader what was found in the preceding cell(s). Try to make it so that the reader can then understand what they will be seeing in the following cell(s).

In [14]:
df.shape

(15015, 27)

In [15]:
df.describe()

,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,prepawn_long_gun,prepawn_other,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
count,14991.000000,3.630000e+03,14995.000000,14996.000000,8030.000000,15015.000000,14992.000000,13072.000000,13070.000000,7645.000000,...,4345.000000,3520.000000,3355.000000,5280.000000,5280.000000,5280.000000,5005.000000,5280.000000,4785.000000,1.501500e+04
mean,7297.534254,9.398232e+03,7171.137312,7976.092491,557.469988,301.560839,52.396945,5.179621,7.498623,0.400131,...,3.089988,0.151136,0.158867,38.999811,25.547917,4.272917,0.981818,0.936553,0.133124,2.628132e+04
std,26060.550964,6.198180e+04,10674.901684,9207.926989,1382.338322,779.563717,559.249188,11.410911,15.789561,1.430356,...,22.435152,1.003205,1.006586,318.716271,140.224809,28.455559,4.845605,3.933713,0.532042,4.884736e+04
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00
25%,0.000000,0.000000e+00,1045.000000,2177.000000,31.000000,13.500000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.076000e+03
50%,831.000000,0.000000e+00,3553.000000,5270.000000,182.000000,135.000000,0.000000,0.000000,1.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.350100e+04
75%,5679.000000,8.600000e+01,8697.000000,10756.500000,579.000000,334.000000,0.000000,5.000000,8.000000,0.000000,...,1.000000,0.000000,0.000000,14.000000,14.000000,1.000000,0.000000,0.000000,0.000000,2.932450e+04
max,522188.000000,1.350676e+06,147714.000000,108058.000000,77929.000000,38907.000000,28083.000000,164.000000,269.000000,49.000000,...,592.000000,13.000000,12.000000,10623.000000,4159.000000,829.000000,70.000000,62.000000,18.000000,1.427917e+06

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15015 entries, 0 to 15014
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      15015 non-null  object
 1   state                      15015 non-null  object
 2   permit                     14991 non-null  float64
 3   permit_recheck             3630 non-null   float64
 4   handgun                    14995 non-null  float64
 5   long_gun                   14996 non-null  float64
 6   other                      8030 non-null   float64
 7   multiple                   15015 non-null  int64
 8   admin                      14992 non-null  float64
 9   prepawn_handgun            13072 non-null  float64
 10  prepawn_long_gun           13070 non-null  float64
 11  prepawn_other              7645 non-null   float64
 12  redemption_handgun         13075 non-null  float64
 13  redemption_long_gun        13074 non-null  float64
 14  redemption_other           7645 non-null   float64
 15  returned_handgun           4730 non-null   float64
 16  returned_long_gun          4675 non-null   float64
 17  returned_other             4345 non-null   float64
 18  rentals_handgun            3520 non-null   float64
 19  rentals_long_gun           3355 non-null   float64
 20  private_sale_handgun       5280 non-null   float64
 21  private_sale_long_gun      5280 non-null   float64
 22  private_sale_other         5280 non-null   float64
 23  return_to_seller_handgun   5005 non-null   float64
 24  return_to_seller_long_gun  5280 non-null   float64
 25  return_to_seller_other     4785 non-null   float64
 26  totals                     15015 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.1+ MB

Data needs a lot of cleaning

In [ ]:
# After discussing the structure of the data and any problems that need to be
#   cleaned, perform those cleaning steps in the second part of this section.
#df.drop(['column  1', 'column  2','column  3',], axis=1, inplace=True)

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. **Compute statistics** and **create visualizations** with the goal of addressing the research questions that you posed in the Introduction section. You should compute the relevant statistics throughout the analysis when an inference is made about the data. Note that at least two or more kinds of plots should be created as part of the exploration, and you must  compare and show trends in the varied visualizations. 



> **Tip**: - Investigate the stated question(s) from multiple angles. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables. You should explore at least three variables in relation to the primary question. This can be an exploratory relationship between three variables of interest, or looking at how two independent variables relate to a single dependent variable of interest. Lastly, you  should perform both single-variable (1d) and multiple-variable (2d) explorations.


### Research Question 1 (Replace this header name!)

In [29]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.
df.hist(figsize=(10, 8));

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

### Research Question 2  (Replace this header name!)

In [27]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.
#Fill the null values with the mean
df.fillna(df.mean(), inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15015 entries, 0 to 15014
Data columns (total 27 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   month                      15015 non-null  object
 1   state                      15015 non-null  object
 2   permit                     15015 non-null  float64
 3   permit_recheck             15015 non-null  float64
 4   handgun                    15015 non-null  float64
 5   long_gun                   15015 non-null  float64
 6   other                      15015 non-null  float64
 7   multiple                   15015 non-null  int64
 8   admin                      15015 non-null  float64
 9   prepawn_handgun            15015 non-null  float64
 10  prepawn_long_gun           15015 non-null  float64
 11  prepawn_other              15015 non-null  float64
 12  redemption_handgun         15015 non-null  float64
 13  redemption_long_gun        15015 non-null  float64
 14  redemption_other           15015 non-null  float64
 15  returned_handgun           15015 non-null  float64
 16  returned_long_gun          15015 non-null  float64
 17  returned_other             15015 non-null  float64
 18  rentals_handgun            15015 non-null  float64
 19  rentals_long_gun           15015 non-null  float64
 20  private_sale_handgun       15015 non-null  float64
 21  private_sale_long_gun      15015 non-null  float64
 22  private_sale_other         15015 non-null  float64
 23  return_to_seller_handgun   15015 non-null  float64
 24  return_to_seller_long_gun  15015 non-null  float64
 25  return_to_seller_other     15015 non-null  float64
 26  totals                     15015 non-null  int64
dtypes: float64(23), int64(2), object(2)
memory usage: 3.1+ MB

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed in relation to the question(s) provided at the beginning of the analysis. Summarize the results accurately, and point out where additional research can be done or where additional information could be useful.


> **Tip**: If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

### Limitations
> **Tip**: Make sure that you are clear with regards to the limitations of your exploration. You should have at least 1 limitation explained clearly. 

> **Tip**: Once you are satisfied with your work here, check over your report to make sure that it is satisfies all the areas of the rubric (found on the project submission page at the end of the lesson). You should also probably remove all of the "Tips" like this one so that the presentation is as polished as possible.

## Submitting your Project 

> **Tip**: Before you submit your project, you need to create a .html or .pdf version of this notebook in the workspace here. To do that, run the code cell below. If it worked correctly, you should get a return code of 0, and you should see the generated .html file in the workspace directory (click on the orange Jupyter icon in the upper left).

> **Tip**: Alternatively, you can download this report as .html via the **File** > **Download as** submenu, and then manually upload it into the workspace directory by clicking on the orange Jupyter icon in the upper left, then using the Upload button.

> **Tip**: Once you've done this, you can submit your project by clicking on the "Submit Project" button in the lower right here. This will create and submit a zip file with this .ipynb doc and the .html or .pdf version you created. Congratulations!

In [ ]:
from subprocess import call
call(['python', '-m', 'nbconvert', 'Investigate_a_Dataset.ipynb'])